.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    padding: 5px;
    line-height: 1.125em;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
    display: block;
    float: none;
    margin: 0;
    min-height: 30px;
    background: #fff;
    padding-top: 6px;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em; 
}
.slicknav_menu {
  *zoom: 1; 
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
.slicknav_menu .slicknav_icon {
    float: right;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
    margin-right: 10px;
}
.slicknav_nav.slicknav_menu .slicknav_icon:before {
  background: transparent;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute; 
}
.slicknav_menu .slicknav_no-text {
  margin: 0; 
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 25px;
  height: 2px;
}
.slicknav_icon .slicknav_icon-bar:last-child {
    width: 20px;
    margin-left: 5px;
}
.slicknav_nav {
  clear: both; 
}
.slicknav_nav ul {
  display: block; 
}
.slicknav_nav li {
    display: block;
    border-bottom: 1px solid #667c86;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em; 
}
.slicknav_nav .slicknav_item {
  cursor: pointer; 
}
.slicknav_nav .slicknav_item a {
  display: inline; }
.slicknav_nav .slicknav_row {
  display: block;
}
.slicknav_nav a {
  display: block; 
}
.slicknav_nav .slicknav_parent-link a {
  display: inline; 
}
.slicknav_brand {
  float: left; 
}
.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 99;
}
.slicknav_menu * {
  box-sizing: border-box; 
}
.slicknav_menu .slicknav_menutxt {
  color: #000;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #000;
}
.slicknav_btn {
  font-weight: normal;
  text-decoration: none;
}
.slicknav_nav {
    margin: 0;
    padding: 0 12px;
    list-style: none;
    overflow: hidden;
    background: #363636;
    position: absolute;
    width: 100%;
    top: 30px;
    left:0;
}
.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; 
}
.slicknav_nav .slicknav_row {}
.slicknav_nav a {
    padding: 6px 0px;
    margin: 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.slicknav_nav a:hover {
  color: #03a9f5; 
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px; 
}
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0; 
}
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0; 
}
.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; 
}
.slicknav_menu {
  display:none;
}
.mobilelogo {
  display: none;
  position: absolute;
  z-index: 9;
  width: 129px;
  left: 4px;
  top: 3px;
}
.slicknav_nav li ul {}
.slicknav_nav li ul li{}
.slicknav_nav li ul li a{}
.slicknav_nav li ul li:last-child{
  border-bottom: 0px
}
.slicknav_nav li ul li:first-child{
  border-top: 1px solid #595141;
}

@media screen and ( max-width: 767px ){
.slicknav_menu {
    display: block;
    box-shadow: 0px 2px 2px #ddd;
}
.mobilelogo {display:block;}

}
